.scene {
    width: 100vw;
    height: 100vh;
    perspective: 50vw;
}

.cube {
    transform-style: preserve-3d;
}

.cube__face {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.cube__face:nth-child(2) {
    transform-origin: left;
    transform: rotateY(90deg);
}
.cube__face:nth-child(3) {
    transform: translateZ(-100vw);
}
.cube__face:nth-child(4) {
    transform-origin: right;
    transform: rotateY(-90deg);
}
.cube__face:nth-child(5) {
    height: 100vw;
    width: 100vw;
    transform-origin: left;
    transform: rotate(90deg) translateY(-50vw) translateX(-50vw) rotateY(90deg);
}

.cube__face:nth-child(6) {
    height: 100vw;
    width: 100vw;
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(90deg);
}
